@tailwind base;
@tailwind components;
@tailwind utilities;

html, :root {
  @apply text-base;
}

details {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

details > summary {
  @apply list-none;
}

details summary::-webkit-details-marker,
details summary::marker {
  @apply hidden;
}

details[data-inventory-state='IsInStock'] {
}


summary {
  @apply cursor-pointer bg-white rounded-md text-center py-3 px-2 align-middle justify-center flex w-full;
  border: 1px solid #00aae7;
}

summary:hover {
  background-color: rgb(249 250 251);
}

summary span {
  @apply text-xs font-medium;
  @apply leading-3;
}

.isinstock-logo {
  @apply w-4 h-4 mr-2;
}

details-menu {
  @apply absolute pointer-events-none inset-auto flex flex-col p-0 z-50;
}

@keyframes select-menu-animation {
  0% {
    @apply scale-90 opacity-0;
  }
}

@keyframes select-menu-animation-sm {
  0% {
    @apply -translate-y-4 opacity-0;
  }
}

.select-menu {
  @apply pointer-events-auto relative z-[100] my-auto mx-0 flex max-h-[66%] min-w-max flex-col overflow-hidden rounded-md bg-white py-1.5 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:mt-2 sm:mb-4 sm:h-auto sm:max-h-96 sm:w-60;
    animation: select-menu-animation 0.12s cubic-bezier(0, 0.1, 0.1, 1)
      backwards;
}

@screen sm {
  .select-menu {
    animation-name: select-menu-animation-sm;
  }
}
