details {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
}

details[data-inventory-state="IsInStock"] {

}

.isinstock-logo {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

summary {
  cursor: pointer;
  background: #fff;
  border: 1px solid #00AAE7;
  border-radius: 6px;
  text-align: center;
  padding: 10px 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

summary:hover {
  background-color: rgb(249 250 251);
}

summary span {
  font-size: 14px;
  font-weight: 500;
}

details-menu {
  pointer-events: none;
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
